app/webroot/files/xmlInventory.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="qualified">

	<xs:element name="Body">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="Credentials">
				<xs:complexType>
				<xs:sequence>
					<xs:element name="company" type="xs:string"/>
					<xs:element name="token" type="TokenType"/>
				</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="TokenType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{36}" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>